/* background */
.bg {
  background: rgb(43, 43, 43);
}
#word {
  color: rgb(160, 91, 31);
  font-size: 28px;
  text-align: center;
  margin-top: 45vh;
}

/*css de restaurant */
.word1, .word2 {
  color: rgb(160, 91, 31);
  font-size: 40px;
  margin-bottom: -3rem;
}
.word2 {
  font-size: 25px;
  margin-bottom: 3.5rem;
}
.br {
  border: 1px solid white;
  margin: 4rem;
}
.left {
  border: 3px solid white;
  margin-right: 32rem;
  margin-left: 2rem;
  height: 2rem;
  margin-top: -5rem;
}
.rigth {
  border: 3px solid white;
  margin-right: 2rem;
  height: 2rem;
  margin-top: -2rem;
  margin-left: 32rem;
}
#map {
  height: 150px;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 2rem;
}
#selectrest {
  width: 90%;
  margin-left: 1rem;
}
#selectSuccess2 {
  height: 40px;
}
.glyphicon-search {
  border-radius: 10px;
  border: 1px solid rgb(43, 43, 43);
  background-color: rgb(43, 43, 43);
  margin: 4px 3px;
}
/* images de restaurant */
.img {
  height: 100px;
  margin-right: 1rem;
}
.img2 {
  width: 140px;
  height: 100px;
  padding-top: 1rem;

}
